@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    transition: 3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* showcase */
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

/* nav */
.nav {
    background-color: #111;
    color: #dfe4e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.toggle {
    background-image: url("/media/menu.png");
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background-image: url("/media/menu.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

/* background */
.back {
    background-color: #111;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

/* mid haha */
.mid {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid h2 {
    margin-bottom: 25px;
}

.mid a {
    font-size: 25px;
    text-decoration: none;
    background-color: #dfe4e6;
    padding: 15px 15px 15px 15px;
    color: #111;
    font-family: 'Oswald', sans-serif;
    transition: 0.3s;
}

.mid a:hover {
    color: #dfe4e6;
    background-color: #111;
    transition: 0.3s;
}

.mid p {
    font-size: 20px;
    color: #dfe4e6;
}

.mid h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 55px;
    padding: 30px 20px 20px 20px;
    color: #dfe4e6;
}

.mid h2 i {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}

/* for them */
.forthem {
    background-color: red;
    height: 100vh;
    width: 100%;
}

/* slider */
.dotsbox {
    text-align: center;
}

/* menu */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    transition: 0.1s;
}

.menu ul li a:hover {
    color: #94acb4;
    transition: 0.1s;
}