@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    transition: 3s;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* showcase */
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

/* nav */
.nav {
    background-color: #111;
    color: #dfe4e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.toggle {
    background-image: url("/media/menu.png");
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background-image: url("/media/menu.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

/* background */
.back {
    background-image: url("/media/learn_bg1.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

/* overlay */
.overlay {
    height: 100%;
    width: 100%;
    background: #2c4e436c;
}

/* mid haha */
.mid {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid p {
    font-size: 20px;
    color: #dfe4e6;
}

.mid h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 55px;
    padding: 30px 20px 20px 20px;
    color: #dfe4e6;
}

.mid h2 i {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}

/* what of climate change */
.what_head {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    color: #f0f3f4;
    background-color: #111;

    font-family: 'Oswald', sans-serif;
}

.what {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem 15rem;
    color: #f0f3f4;
    background-color: #111;
}

.what h3 {
    font-size: 30px;
}

.causes {
    width: 45%;
    border-right: 1px solid #dfe4e6;
    padding-right: 2rem;
}

.effects {
    width: 45%;
}

/* they need you */
.need {
    text-align: center;
    font-size: 40px;
    padding: 40px 40px;
    font-family: 'Oswald', sans-serif;
    background-color: #dfe4e6;
}

.animal_head {
    font-size: 30px;
    padding-bottom: 20px;
}

.polarbears {
    height: 100vh;
    background-image: url("/media/polarbear.jpg");
}

.polarbears-info {
    position: relative;
    top: 20%;
    left: 20%;
    width: 40%;
}

.pandas {
    height: 100vh;
    background-image: url("/media/panda.jpg");
    background-size: cover;
}

.pandas-info {
    position: relative;
    left: 70%;
    top: 20%;
    width: 20%;
    color: #dfe4e6;
    background-color: rgba(17, 17, 17, 0.529);
    padding: 20px 20px 20px 20px;
}

/* we need you */
.need2 {
    text-align: center;
    font-size: 40px;
    padding: 40px 40px;
    font-family: 'Oswald', sans-serif;
    background-color: #111;
    color: #dfe4e6;
}

.poverty {
    height: 100vh;
    background-image: url("/media/poverty.jpg");
    background-size: cover;
}

.poverty-info {
    position: relative;
    color: #111;
    background-color: #dfe4e687;
    width: 20%;
    padding: 20px 20px 20px 20px;
    top: 5%;
    left: 5%;
}
/* who's taking action */
.who_head {
    text-align: center;
    font-size: 40px;
    padding: 40px 40px;
    font-family: 'Oswald', sans-serif;
    background-color: #dfe4e6;
}

.who {
    background-image: url("/media/who.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.description {
    width: 39%;
    padding: 8rem;
}

.description h2 {
    font-size: 42px;
    padding-bottom: 2rem;
}

.description p {
    color: #dfe4e6;
    font-size: 20px;
}

/* 10 years */

.ten_head {
    text-align: center;
    font-size: 40px;
    padding: 40px 40px;
    font-family: 'Oswald', sans-serif;
    background-color: #111;
    color: #dfe4e6;
}

.countdown {
    background-image: url("/media/where.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.container {
    position: relative;
    top: 30%;
    left: 30%;
    width: 40%;
    justify-content: center;
    align-content: center;
    height: 300px;
    text-align: center;
}

.container h3 {
    font-size: 30px;
}

/* menu */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    transition: 0.1s;
}

.menu ul li a:hover {
    color: #94acb4;
    transition: 0.1s;
}